@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
body {
  font-family: sans-serif;
}
.product-card {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
  width: 300px;
  margin: 20px;
  float: left;
}
.product-image {
  width: 100%;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.product-description {
  padding: 10px;
}
.product-description h3 {
  margin: 0;
  font-size: 1.2em;
}
.product-description p {
  margin: 10px 0;
  font-size: 0.9em;
}
.product-description .price {
  font-weight: bold;
  color: #f60;
}
h2{
  text-align: center;
  color: blue;
}